{% extends "base.html" %}
{% block content %}
<h2 class="section-title">Beatmap Ranked Request List</h2>
<p class="section-lead">Check The Beatmap of Ranked Request</p>
    <?
	$ScoresConfig = [
	"enablePP" => true,
	"useNewBeatmapsTable" => true,		// 0: get beatmaps names from beatmaps_names (old php scores server)
										// 1: get beatmaps names from beatmaps (LETS)
	"api_key" => "",
	"rankRequestsQueueSize" => 20,
	"rankRequestsPerUser" => 2
	];

		
		public static function AdminRankRequests() {
		global $ScoresConfig;
		// Get data
		$rankRequestsToday = $GLOBALS["db"]->fetch("SELECT COUNT(*) AS count FROM rank_requests WHERE time > ? LIMIT ".$ScoresConfig["rankRequestsQueueSize"], [time()-(24*3600)]);
		$rankRequests = $GLOBALS["db"]->fetchAll("SELECT rank_requests.*, users.username FROM rank_requests LEFT JOIN users ON rank_requests.userid = users.id WHERE time > ? ORDER BY id DESC LIMIT ".$ScoresConfig["rankRequestsQueueSize"], [time()-(24*3600)]);
		// Print sidebar and template stuff
		echo '<div id="wrapper">';
		printAdminSidebar();
		echo '<div id="page-content-wrapper">';
		// Maintenance check
		self::MaintenanceStuff();
		// Print Success if set
		if (isset($_GET['s']) && !empty($_GET['s'])) {
			self::SuccessMessageStaccah($_GET['s']);
		}
		// Print Exception if set
		if (isset($_GET['e']) && !empty($_GET['e'])) {
			self::ExceptionMessageStaccah($_GET['e']);
		}
		// Header
		echo '<span class="centered"><h2><i class="fa fa-music"></i>	Bqweweatmap rank requests</h2></span>';
		// Main page content here
		echo '<div class="page-content-wrapper">';
		//echo '<div style="width: 50%; margin-left: 25%;" class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i>	Only the requests made in the past 24 hours are shown. <b>Make sure to load every difficulty in-game before ranking a map.</b><br><i>(We\'ll add a system that does it automatically soonTM)</i></div>';
		echo '<hr>
		<h2 style="display: inline;">'.$rankRequestsToday["count"].'</h2><h3 style="display: inline;">/'.$ScoresConfig["rankRequestsQueueSize"].'</h3><br><h4>requests submitted today</h4>
		<hr>';
		echo '<table class="table table-striped table-hover" style="width: 94%; margin-left: 3%;">
		<thead>
		<tr><th><i class="fa fa-music"></i>	ID</th><th>Artist & song</th><th>Difficulties</th><th>Mode</th><th>From</th><th>When</th><th class="text-center">Actions</th></tr>
		</thead>';
		echo '<tbody>';
		foreach ($rankRequests as $req) {
			$criteria = $req["type"] == "s" ? "beatmapset_id" : "beatmap_id";
			$b = $GLOBALS["db"]->fetch("SELECT beatmapset_id, song_name, ranked FROM beatmaps WHERE ".$criteria." = ? LIMIT 1", [$req["bid"]]);

			if ($b) {
				$matches = [];
				if (preg_match("/(.+)(\[.+\])/i", $b["song_name"], $matches)) {
					$song = $matches[1];
				} else {
					$song = "Wat";
				}
			} else {
				$song = "Unknown";
			}

			if ($req["type"] == "s")
				$bsid = $req["bid"];
			else
				$bsid = $b ? $b["beatmapset_id"] : 0;

			$today = !($req["time"] < time()-86400);
			$beatmaps = $GLOBALS["db"]->fetchAll("SELECT song_name, beatmap_id, ranked, difficulty_std, difficulty_taiko, difficulty_ctb, difficulty_mania FROM beatmaps WHERE beatmapset_id = ? LIMIT 15", [$bsid]);
			$diffs = "";
			$allUnranked = true;
			$forceParam = "1";
			$modes = [];
			foreach ($beatmaps as $beatmap) {
				$icon = ($beatmap["ranked"] >= 2) ? "check" : "times";
				$name = htmlspecialchars("$beatmap[song_name] ($beatmap[beatmap_id])");
				$diffs .= "<a href='#' data-toggle='popover' data-placement='bottom' data-content=\"$name\" data-trigger='hover'>";
				$diffs .= "<i class='fa fa-$icon'></i>";
				$diffs .= "</a>";
				if ($beatmap["difficulty_std"] > 0 && !in_array("std", $modes)) {
					$modes[] = "std";
				} else if ($beatmap["difficulty_std"] == 0) {
					if ($beatmap["difficulty_taiko"] > 0 && !in_array("taiko", $modes)) {
						$modes[] = "taiko";
					} else if ($beatmap["difficulty_ctb"] > 0 && !in_array("ctb", $modes)) {
						$modes[] = "ctb";
					} else if ($beatmap["difficulty_mania"] > 0 && !in_array("mania", $modes)) {
						$modes[] = "mania";
					}
				}

				if ($beatmap["ranked"] >= 2) {
					$allUnranked = false;
					$forceParam = "0";
				}
			}

			$modes = implode(", ", $modes);

			if (count($beatmaps) >= 15) {
				$diffs .= "...";
				$modes .= "...";
			}

			if ($req["blacklisted"] == 1) {
				$rowClass = "danger";
			} else if ($allUnranked) {
				$rowClass = $today ? "success" : "default";
			} else {
				$rowClass = "default";
			}

			/*if (($bsid & 1073741824) > 0) {
				$host = "osu!mp";
			} else if (($bsid & 536870912) > 0) {
				$host = "ripple";
			} else {
				$host = "osu!";
			}*/

			echo "<tr class='$rowClass'>
				<td><a href='https://osu.ppy.sh/s/$bsid' target='_blank'>$req[type]/$req[bid]</a></td>
				<td>$song</td>
				<td>
					$diffs
				</td>
				<td>$modes</td>
				<td>$req[username]</td>
				<td>".timeDifference(time(), $req["time"])."</td>
				<td>
					<p class='text-center'>
						<a title='Edit ranked status' class='btn btn-xs btn-primary' href='index.php?p=124&bsid=$bsid&force=".$forceParam."'><span class='glyphicon glyphicon-pencil'></span></a>
						<a title='Toggle blacklist' class='btn btn-xs btn-danger' href='submit.php?action=blacklistRankRequest&id=$req[id]&csrf=".csrfToken()."'><span class='glyphicon glyphicon-flag'></span></a>
					</p>
				</td>
			</tr>";
		}
		echo '</tbody>';
		echo '</table>';
		// Template end
		echo '</div>';
	}
    ?>
<div class="card">
    <div class="card-footer">
        DebianPanel!
    </div>
</div>

{% endblock %}
